@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-deep-purple: #181625;
  --color-deeper-purple: #0F0E18;
}

@layer base {
  .font-jersey {
    font-family: 'Jersey 10', cursive;
  }

  .font-sedan {
    font-family: 'Sedan', serif;
  }
}
